<template name="accountProfile">

  <div class="flex flex-column flex-align-center flex-2x container-lg">

    <div class="flex-item">
      <div class="panel panel-lg">

        <div class="panel-heading  panel-title-center">

            <div class="profile-image">
              {{!--> avatar user=currentUser class="circular-icon" size="large" shape="circle"--}}
              <img class="circular-icon" src="{{getGravatar currentUser 80}}" style="width: 80px;border-radius: 50%;" />
              <span class="profile-image-display-name">{{displayName}}</span>
            </div>

        </div>
        <div class="panel-content">
          {{#if userHasPassword}}
            {{> loginFormChangePassword}}
          {{/if}}
        </div>

      </div>
    </div>


    <div class="flex-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" data-i18n="accountsUI.yourOrders">Your Orders</h3>
        </div>

        <div class="panel-content">
          {{> dashboardOrdersList data=userOrders}}
        </div>
      </div>
    </div>
    
  {{#if equals getUserType 'vendor'}}
    <div class="flex-item">
      <div class="panel panel-default panel-address-book">
        <div class="panel-heading">
          <h2 class="panel-title" data-i18n="accountsUI.shopDetailsForm">Vendor Details</h2>
        </div>
        <div class="panel-content">
          {{> vendorDetails}}
        </div>
      </div>
    </div>
  {{/if}}

    <div class="flex-item">
      {{> addressBookPanel}}
    </div>

  </div>

</template>
